.letsTalkSection{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10vh 5vh;

}

.formSection{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 8vh;
    margin-top: 5vh;
    
}

.letsTalkTitle{
    font-size: 45px;
}


.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form > input {
    margin-bottom: 5vh;
    padding: 15px 20px;
    background-color: #f1f1f1;
    outline: none;
    border: none;

}

.form > textarea {

    margin-bottom: 8vh;
    padding: 10px 20px;
    background-color: #f1f1f1;
    outline: none;
    border: none;



}

.form > button {

    width: 20vh;
    padding: 20px 10px;
    text-align: center;
    border:none;
    background-color: #47467a;
    color:#ffffff;
}

.contactImageHolder{

    height: 750px;
    width: 50%;

}

.contactMeImg {
    border-radius: 5vh;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    height: 690px;

}