.footer {
    display: flex;
    justify-content: space-between;
    background-color: #47467a;
    color:#ffffff;
    padding: 5vh;
    font-family:'Nunito Sans', sans-serif
}

.poweredBy {
    margin: 10vh 5vh;
}

.socialMedia {
    display: flex;
    
}

.socialMedia p {
    margin: 0;
}

.socialContainer, .contactContainer {

    margin-right: 10vh;
    margin-top: 10vh;

}

.social, .contact {
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
}

.socialContainer ul {

    padding-left: 0;
}

.contactContainer ul {

    padding-left: 0;
}

.socialList > li {

    text-decoration: underline;
}

.contactList > li {

    text-decoration: underline;
}

#firstChild:first-child {
    margin-top: 35px;
}


::placeholder {
    font-family:'Nunito Sans', sans-serif;
}